<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <a href="/celebrities/all-celebrities">See All Celebrities</a>
      <a href="/celebrities/add-celebrity">Add a Celebrity</a>
      <a href="/movies">See All Movies</a>
      <a href="/movies/add-movie">Add a Movie</a>
      {{!-- <a href=""></a> --}}
    </nav>
    {{{body}}}
  </body>
</html>
